<div class="signup">
  <div class="container">
    
    <!-- Your form here -->
    <%= form_for @user do |f| %>
    <p>
      <%= f.label :first_name%><br>
      <%= f.text_field :first_name%>
    </p>
    <p>
      <%= f.label :last_name%><br>
      <%= f.text_field :last_name%>
    </p>
    <p>
      <%= f.label :email%><br>
      <%= f.text_field :email%>
    </p>
    <p>
      <%= f.label :password_digest%><br>
      <%= f.text_field :password_digest%>
    </p>
    <br>      
    <p>
      <%= f.submit %>
    </p>
    <% end %>
  </div>
</div>